body{
    color: blue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #000;
    margin: 0;
}